@import "./reset.css";

:root {
  --disc-colour: grey;
  --disc-label: white;
}

.container {
    margin: 5% auto ;
    background-image: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .child {
    background: var(--disc-colour);
    height: auto;
    width: 500px;
    height: 500px;
  }
  
  .box {
    background-image: url(./assets/crash-bandicoot-201610518540_1.jpg);
    background-size: cover;
    border: 5px solid black;
    z-index: 1;
  }
  
  .vinile {
    background: black;
    background-image: linear-gradient(130deg, transparent 40%, #fff5, transparent 60%),
    repeating-radial-gradient(circle at center, #333 0 1px, black 1px 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5%;
    border-radius: 50%;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .center {
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  